<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Nachhilfe für Informatik-Studenten</title>
    <%- include('_views/include/head') %>
  </head>
  <body class="has-navbar-fixed-top">
    <%- include('_views/components/header', {
      index: true
    }) %>
    <div class="page">
      <div class="content">
        <%- include('_views/content/index') %>
      </div>
    </div>
    <%- include('_views/components/footer') %>
    <%- include('_views/include/scripts') %>
    <script src="assets/js/main.js"></script>
  </body>
</html>

<!-- TODO Ideas:
- Click on messenger button opens QR code and option to open the desktop app
- Scrolling to anchor adds padding to bottom of page
  so that the anchor can be at the top of the page

-->
