<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Kontaktiere mich</title>
    <%- include('_views/include/head') %>
  </head>
  <body class="has-navbar-fixed-top">
    <%- include('_views/components/header') %>
    <div class="page">
      <div class="content">
        <%- include('_views/content/contact') %>
      </div>
    </div>
    <%- include('_views/components/footer') %>
    <%- include('_views/include/scripts') %>
    <script src="assets/js/contact.js"></script>
  </body>
</html>
